
.cs-menu-slider {
  .slider-btn-holder {
    display: flex;
    justify-content: flex-start;

    .ant-btn {
      border-radius: 0px;
    }

    &.collapsed {
      .ant-btn {
        width: 80px;
      }
    }

    &.expand {
      .ant-btn {
        width: 100%;
      }
    }
  }

  .ant-menu-root {
    height: 100vh;
  }
}
